<!DOCTYPE html>
<html>
<head>
	<title>Show the user</title>
</head>
<body>
	{% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
	
	<a href="/success">Dashboard</a> | <a href="/logout">Logout</a>
	<h3>Add a Trip!</h3>
	<form action="/inserttrip/{{user.user_id}}" method="POST">
		Destination:<input type="text" name="destination"><br>
		Description:<input type="text" name="description"><br>
		<br>
		Travel Date From:<input type="date" name="start_time"><br>
		Travel Date To: <input type="date" name="end_time"><br>
		<input type="submit" name="submit">
	</form>
	
</body>
</html>